.style9 {font-size: 10px}
.style35 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #FFFFFF; }
.style45 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
}
body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 0.5em;
	background-color: #FFFFFF;
  text: #000000;
  margin: 8px;
}
a {
  color: #333366;
}
a:visited {
  color: #333366;
}
a:active {
  color: #333366;
}
table {
  border-collapse: separate;
}

.right {
  text-align: right;
}

table#container {
  width: 933px;
  border-spacing: 0 0;
}
table#container th,
table#container td {
  padding: 0;
}
tr.header {
  background-color: #666666;
  color: #FFFFFF;
  font-weight: bold;
}
tr.header td {
  height: 19px;
  background-color: #5C849B;
  text-align: center;
}
tr.header td.right {
  text-align: right;
}
tr.header td.right a {
  text-decoration: none;
  color: #FFFFFF;
}

#logo {
  text-align: center;
}
#bannerimg {
  text-align: right;
}

#banner td {
  padding: 0;
  margin: 0;
}

#nav #navcontainer {
  width: 198px;
  height: 273px;
  text-align: left;
  vertical-align: top;
}
#nav #navcontainer table {
  width: 198px;
  border-spacing: 3px;
}
#nav #navcontainer table td {
  font-weight: bold;
  font-size: 12px;
  padding: 3px;
}
#nav #navcontainer .navlink tr {
  border-color: #FFFFFF;
}
#nav #navcontainer .navlink td {
  height: 25px;
  color: #FFFFFF;
  background-color: #5C849B;
  border: 3px solid #FFFFFF;
}
.navlink a {
  color: #FFFFFF;
  text-decoration: none;
}

td.content {
  vertical-align: top;
  width: 731px;
  padding: 5px;
}
