<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  {%- block starthead %}{%- endblock starthead %}
  <meta charset="{{ site.meta.charset }}">

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="{{ site.meta.compatibility }}">

  <!-- encoding must be specified within the first 512 bytes
        www.whatwg.org/specs/web-apps/current-work/multipage/semantics.html#charset -->

  <!-- meta element for compatibility mode needs to be before
        all elements except title & meta
        msdn.microsoft.com/en-us/library/cc288325(VS.85).aspx -->
  <!-- Chrome Frame is only invoked if meta element for
        compatibility mode is within the first 1K bytes
        code.google.com/p/chromium/issues/detail?id=23003 -->

  <title>{%- block title %}{{ resource.meta.title }}{%- endblock title %} | GO-SHIP</title>

  <!--  Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="{{ site.meta.viewport }}">

  {%- block favicons %}{%- endblock favicons %}
  {%- block precss %}{%- endblock precss %}
  {%- block basecss %}
    <link rel="stylesheet" href="{{ media_url('css/normalize.css') }}">
    <link rel="stylesheet" href="{{ media_url('css/screen.css') }}">
  {%- endblock basecss %}
  {%- block postcss %}{%- endblock postcss %}
  {%- block headjs %}
  {#
  <!-- All JavaScript at the bottom, except for Modernizr which
        enables HTML5 elements & feature detects -->
    <script src="{{ media_url('js/libs/modernizr-1.7.min.js') }}"></script>
  #}
  {%- endblock headjs %}
  {%- block endhead %}{%- endblock endhead %}
</head>

<body id="{{ resource.meta.id if resource.meta.id else resource.slug }}">
  {%- block body %}
<table id="container">
  <tr class="header"> 
    <td colspan="2">WWW.GO-SHIP.ORG</td>
    <td class="right" colspan="4">
      SPONSORS:
      <a href="http://www.ioccp.org" target="_blank">IOCCP</a> |
      <a href="http://www.clivar.org/" target="_blank">CLIVAR</a>
    </td>
  </tr>
  <tr id="banner"> 
    <td id="logo" colspan="2"><a href="/"><img src="{{ media_url('images/GO-SHIPlogo.gif') }}" width="110" height="107"></a></td>
    <td id="bannerimg" colspan="4"><img src="{{ media_url('images/GSbanner.gif') }}" width="730" height="107"></td>
  </tr>
  <tr id="nav"> 
    <td id="navcontainer"> 
      <table cellspacing="3" cellpadding="3">
        <tr class="navlink">
          <td colspan="2"><a href="{{ content_url('index.html') }}">HOME</a></td>
        </tr>
        <tr class="navlink">
          <td colspan="2"><a href="{{ content_url('About.html') }}">ABOUT GO-SHIP</a></td>
        </tr>
        <tr class="navlink">
          <td colspan="2"><a href="{{ content_url('CruisePlans.html') }}">CRUISE PLANS</a></td>
        </tr>
        <tr class="navlink">
          <td colspan="2"><a href="{{ content_url('DataDirect.html') }}">DATA DIRECTORY</a></td>
        </tr>
        <tr class="navlink">
          <td colspan="2"><a href="{{ content_url('HydroMan.html') }}">HYDRO MANUAL</a></td>
        </tr>
        <tr class="navlink">
          <td colspan="2"><a href="{{ content_url('Documents.html') }}">DOCUMENTS</a></td>
        </tr>
        <tr class="navlink">
          <td colspan="2"><a href="{{ content_url('News.html') }}">NEWS</a></td>
        </tr>
        <tr class="navlink">
          <td colspan="2"><a href="{{ content_url('Join.html') }}">JOIN THE EMAIL LIST</a></td>
        </tr>
        <tr class="navlink">
          <td colspan="2"><a href="{{ content_url('Contacts.html') }}">CONTACT</a> </td>
        </tr>
        <tr class="navlink">
          <td colspan="2"><a href="{{ content_url('QuickLinks.html') }}">QUICK LINKS</a></td>
        </tr>

        <tr>
          <td colspan="2" height="25px"></td>
        </tr>

        <tr>
          <td height="25" width="25px"><img src="{{ media_url('images/Jump.gif') }}" width="15" height="16" border="0" usemap="#Map7" /></td>
          <map name="Map7" id="Map7"><area shape="rect" coords="-1,-2,16,18" href="/RefSecs/goship_ref_secs.html"></map>
          <td height="25"><p><span class="style45">Jump to:<br />
          <a href="/RefSecs/goship_ref_secs.html">GO-SHIP Reference Sections</a></span></p>
          </td>
        </tr>
      </table>
    </td>
    <td width="4" valign="top">&nbsp;</td>
    <td colspan="4" valign="top" class="content"> 
      <section>
        {%- block content %}{%- endblock content %}
      </section>
    </td>
  </tr>
  <tr bgcolor="#5C849B"> 
    <td valign="top" colspan="6">
      <div class="style35" align="right">
        Project Office address: UNESCO-IOC, 1 Rue Miollis, Paris France 75732 Cedex 15
      </div>
    </td>
  </tr>
</table>

  {%- block js %}

  {%- block scripts %}{%- endblock scripts %}
  {#
  <!--[if lt IE 7 ]>
    <script src="js/libs/dd_belatedpng.js"></script>
    <script>DD_belatedPNG.fix('img, .png_bg'); // Fix any <img> or .png_bg bg-images. Also, please read goo.gl/mZiyb </script>
  <![endif]-->
  #}
  {%- block analytics %}
    {% include "analytics.j2" %}
  {%- endblock analytics %}

  {%- endblock js %}
{%- endblock body %}
</body>
</html>
