{%- extends "base.j2" %}
{%- block precss %}
<link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css">
{%- endblock precss %}
{%- block postcss %}
<link rel="stylesheet" href="{{ media_url('css/ref_secs.css') }}">
{%- endblock postcss %}
